* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  box-sizing: border-box;
  /* width: 100%; */
}

body {
  font-family: 'Nunito', sans-serif;
  background: rgb(238, 238, 174);
  background: radial-gradient(
    circle,
    rgba(238, 238, 174, 1) 0%,
    rgba(0, 0, 0, 0.8939950980392157) 77%
  );
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*  LOGIN COMPONENT */

.login {
  /* background: white; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background: #c9a813;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 65px;
  border-color: darkgray;
  background: #cfc3b2;
}

/* POPUP COMPONENT */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 30%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 1px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 7px 7px 17px black;
}

.popup-inner .close-btn {
  background-color: #b7990d;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 0.5em 0em;
  text-align: center;
  width: 100%;
  letter-spacing: 1.5px;
  margin: 10px;
}
.ageVerification {
  font-size: 30px;
  letter-spacing: 3px;
  color: black;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 100;
}

.disclaimer {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
  letter-spacing: 0.5px;
  margin: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}

small {
  text-align: center;
  margin: 10px;
}


/* NavBar Component*/

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #110b11;
  position: sticky;
  top: 0;
  z-index: 100;
}

.storeName {
  flex: 2;
  object-fit: contains;
  margin: 0 20px;
  margin-top: 18px;
  color: azure;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 100;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__optionLineOne {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 100;
}

.header__optionLineTwo {
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
}

.header__optionCart {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  margin-top: -10px;
}

.header__cartCount {
  margin-left: 13px;
  margin-right: 13px;
}

.cartImage {
  color: white;
  max-height: 27px;
}

.count {
  color: #eeeae4;
  font-size: 16px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

/* HOME COMPONENT   */
.home {
  justify-content: center;
  display: flex;
  color: white;
  margin-top: 100px;
}

/* CART COMPONENT  */
.shopping-cart-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

#cart-title-text {
  font-size: 35px;
  margin-bottom: 20px;
  color: white;
}

.order-price-details {
  margin-top: 20px;
  font-size: 20px;
}

hr {
  width: 70%;
  margin: auto;
}

.shipping-text {
  margin-bottom: 27px;
  color: white;
}

.subtotal-text {
  margin-top: 5px;
  color: white;
}

/* CART ENTRY COMPONENT */
.cart-entry-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-entry-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  width: 800px;
  height: 130px;
  border: none;
  border-radius: 16px;
  background-color: white;
  box-shadow: 15px 10px 42px 0px rgb(0 0 0 / 75%);
}

.shopping-cart-container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background: #b7990d;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shopping-cart-container button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.cart-entry-quantity {
  display: flex;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.add {
  margin-bottom: 2px;
}

.qty {
  padding: 7px 7px;
}

.buttons-container > button {
  padding: 0px;
  width: 30px;
}

.cart-options .option {
  text-decoration: none;
  width: 250px;
  font-size: 15px;
  color: #ffffff;
  background-color: #b7990d;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid #b7990d;
  cursor: pointer;
  font-weight: 100;
  margin: 40px;
  box-shadow: 15px 10px 42px 0px rgb(0 0 0 / 75%);
}

.option:hover {
  background-color: #ebae06;
}

.checkout-component {
  margin: 100px;
  display: flex;
  justify-content: center;
}

.checkout-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 2px solid;
  width: 600px;
  justify-content: center;
  box-shadow: 15px 10px 42px 0px rgb(0 0 0 / 75%);
}

.checkout-wrapper div {
  font-size: 30px;
  margin: 50px;
}

/* QUIZ COMPONENT */

.quizWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz {
  background-color: white;
  width: 700px;
  min-height: 300px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 15px 10px 42px 0px rgb(0 0 0 / 75%);
  display: flex;
  justify-content: space-evenly;
  margin-top: -83px;
}

.personaScore-section {
  display: flex;
  font-size: 21px;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  font-weight: 100;
  flex-direction: column;
  margin: 10px;
}

.persona {
  font-weight: 600;
  display: flex;
  color: #ff9800;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  font-size: 28px;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  font-size: 17px;
  margin: 15px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}
.answer-section {
  width: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quizButton {
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  background-color: #b7990d;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid #b7990d;
  cursor: pointer;
  font-weight: 100;
}
button:hover {
  background-color: #ebae06;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.boldScore {
  font-weight: 600;
  margin: 5px;
}

.randomImg {
  box-shadow: 10px 5px 5px gray;
}
.mageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-options > .option {
  margin: 30px;
  padding: 16px;
}

/* Individual cards */
.card {
  margin: 13px !important;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 13 2px 20px rgb(0 0 0 / 20%);
  overflow: hidden;
  width: 350px;
  margin-bottom: 50px !important;
  box-shadow: 6px 4px 15px black;
}
.card-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.card-body button {
  margin-top: auto;
}

.card-body h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #0b110b;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px !important;
}

/* Form Drop Down List (Homepage)*/

label {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 35px;
  font-family: 'Nunito';
  letter-spacing: 2px;
  margin: 47px;
  color: white;
}

.select {
  width: 25%;
  font-size: 15px;
  color: #ffffff;
  background-color: #b7990d;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid #b7990d;
  cursor: pointer;
  font-weight: 100;
  text-align: center;
  margin-top: 15px;
}

/* Drink list */
.drink-list {
  display: flex;
  /* width: 1800px; */
  justify-content: space-evenly;
  /* max-width: 1200px; */
  /* flex-direction: row; */
  /* flex: 0 0 33.3333333%; */
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin: 39px;
  padding: 20px;
}

/* Single Details CSS*/

.singleDrinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsWrapper {
  display: flex;
  width: 500px;
  color: black;
  text-align: center;
  line-height: 22px;
  letter-spacing: 1.5px;
  margin: 106px 0px 107px 0px;
  flex-direction: column;
  background-color: #ffffffcf;
  box-shadow: 6px 4px 15px black;
  border-radius: 33px;
}

.detailsButton {
  width: 50%;
  font-size: 15px;
  color: #ffffff;
  background-color: #b7990d;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  align-items: center;
  border: 2px solid #b7990d;
  cursor: pointer;
  font-weight: 100;
  height: 34px;
  align-content: center;
  justify-content: center;
  margin: 20px 0px 11px 25%;
}

.singleDrinkDesc {
  margin: 20px;
  line-height: 25px;
}

.detailsImage {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
